<a href="https://colab.research.google.com/gist/Larinwa/bb2c09a5f1de13e606413fc071025f84/neural_network_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Train the Neural network on Insurance dataset

In [ ]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn #this is where our neural network module is gonna be
import torch.optim as optim #all of our optimizers are gonna be here

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import root_mean_squared_error

### 1. Data Preparation

In [ ]:
#load the data
df = pd.read_csv('cleaned_insurance.csv')

In [ ]:
df

,Unnamed: 0,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0,19,27.900,0,16884.92400,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,1,18,33.770,1,1725.55230,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,2,28,33.000,3,4449.46200,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,3,33,22.705,0,21984.47061,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,4,32,28.880,0,3866.85520,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,1333,50,30.970,3,10600.54830,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1334,1334,18,31.920,0,2205.98080,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1335,1335,18,36.850,0,1629.83350,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1336,1336,21,25.800,0,2007.94500,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1337,1337,61,29.070,0,29141.36030,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [ ]:
df.drop(df.columns[0], axis = 1, inplace = True)

In [ ]:
df

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,18,33.770,1,1725.55230,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,28,33.000,3,4449.46200,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,33,22.705,0,21984.47061,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,32,28.880,0,3866.85520,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1334,18,31.920,0,2205.98080,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1335,18,36.850,0,1629.83350,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1336,21,25.800,0,2007.94500,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1337,61,29.070,0,29141.36030,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [ ]:
y = df['charges']

In [ ]:
y = y.values

In [ ]:
y

array([16884.924 ,  1725.5523,  4449.462 , ...,  1629.8335,  2007.945 ,
       29141.3603])

In [ ]:
X = df.drop(columns = ['charges'])

In [ ]:
X

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,18,33.770,1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,28,33.000,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,33,22.705,0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4,32,28.880,0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1334,18,31.920,0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1335,18,36.850,0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1336,21,25.800,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1337,61,29.070,0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [ ]:

#scale the features
scaler = StandardScaler()
X = scaler.fit_transform(X)

#split the data

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 0) #This by default will set the test size to 0.25

In [ ]:
# convert the data arrays to tensors

X_train_tensor = torch.tensor(data = X_train, dtype= torch.float32)
y_train_tensor = torch.tensor(data = y_train, dtype= torch.float32).view(-1, 1)
X_test_tensor = torch.tensor(data = X_test, dtype= torch.float32)
y_test_tensor = torch.tensor(data = y_test, dtype= torch.float32).view(-1,1)

In [ ]:
y_train_tensor

tensor([[ 4562.8423],
        [13616.3584],
        [ 1837.2371],
        ...,
        [ 5415.6611],
        [ 1646.4297],
        [ 4766.0220]])

### 2. Create the neural network graph

In [ ]:


#create a class that will inherit from nn.module

class InsuranceModel(nn.Module):

    # define the constructor
    def __init__(self, input_dim)-> None:
        super().__init__()
        self.input_layer = nn.Linear(in_features= input_dim, out_features = 27)
        self.first_hidden = nn.Linear(in_features= 27, out_features =17 )
        self.second_hidden = nn.Linear(in_features= 17, out_features = 10)
        self.third_hidden = nn.Linear(in_features= 10, out_features = 7)
        #self.fourth_hidden = nn.Linear(in_features= 3, out_features = 2)
        self.output_layer = nn.Linear(in_features= 7, out_features = 1)

    # Create the forward pass
    def forward(self, X:torch.tensor):
        result = torch.relu(self.input_layer(X))
        result = torch.relu(self.first_hidden(result))
        result = torch.relu(self.second_hidden(result))
        result = torch.relu(self.third_hidden(result))
        #result = torch.relu(self.fourth_hidden(result))
        result = self.output_layer(result)

        return result

In [ ]:
X_train.shape

(1003, 11)

### 3. Initialize the model

In [ ]:
# init the model

model = InsuranceModel(input_dim = X_train.shape[1]) #this will extract the columns of x_train

# init the criterion
criterion = nn.MSELoss()

#init the optimizer
optimizer = optim.Adam(params = model.parameters(),
                      lr = 0.0001, weight_decay=1e-8)

### 4. Begin the training loop and  5. Evaluation

In [ ]:
# choose an epoch

EPOCHS = 6000

for epoch in range(EPOCHS):
    model.train() #put the model in train mode
    optimizer.zero_grad()
    output = model(X_train_tensor)
    loss = criterion(output, y_train_tensor)#compute the loss
    loss.backward()#ck propagate the loss
    optimizer.step()

    if epoch % 1000 == 0:
        print(f'Loss: {loss} at epoch: {epoch}')

#evaluation
model.eval()
with torch.no_grad():
    preds = model(X_test_tensor) #get predictions
    preds = preds.numpy().flatten()
    rmse = root_mean_squared_error(y_test, preds)

    print(f'test Final rmse: {rmse}' )

#evaluation
model.eval()
with torch.no_grad():
    preds1 = model(X_train_tensor) #get predictions
    preds1 = preds1.numpy().flatten()
    rmse1 = root_mean_squared_error(y_train, preds1)

    print(f'train Final rmse: {rmse1}' )

Loss: 317553376.0 at epoch: 0
Loss: 316932896.0 at epoch: 1000
Loss: 303937472.0 at epoch: 2000
Loss: 250212768.0 at epoch: 3000
Loss: 151092624.0 at epoch: 4000
Loss: 66867860.0 at epoch: 5000
test Final rmse: 5531.2271691862825
train Final rmse: 6286.375405093785